img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.internal-embed.image-embed[alt*="center"],
.markdown-source-view.mod-cm6 .image-embed:has(img[alt*="center"]) {
    margin-left: auto !important;
    margin-right: auto !important;
}

.image-captions-enabled .image-embed::after {
    display: none !important;
}